/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require feed
 *= require userPage
 *= require workoutForm
 *= require profile
 *= require createRoute
 *= require users
 *= require createUser
 *= require sessions
 *= require signIn
 *= require_tree .
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.clear-fix:after {
  display: block;
  clear: both;
  content: "";
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: url(RoadBikeMain.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.error-messages {
  width: auto;
  margin: auto;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
}

.app {
  margin: auto;
  display: block;
  clear: both;
  content: "";
}

#nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: auto;
  background: #666633;
  height: 55px;
  z-index: 100;
  border-bottom: 1px solid #222211;
}

nav {
  float: right;
  width: 120px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 22px;
  margin: auto;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
}

nav a {
  color: #fff;
}

nav:hover a {
  text-decoration: none;
  color: #000;
}

.title {
  margin: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 5px;
  padding-left: 25px;
}

.title {
  float: left;
  color: #fff;
}

nav:hover {
  background: #d4d4aa;
  color: #000;
}
