.new-user-form {
  width: 400px;
  height: 480px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  margin-top: 100px;
}

.new-user-form .btn-primary {
  margin-left: 140px;
}

.new-user-form h1 {
  padding-top: 10px;
}

.new-user-form a {
  margin-left: 180px;
  padding-bottom: 10px;
}
