.feed-page {
  width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.feed {
  width: 800px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background: #fff;
  background-color: rgba(0, 0, 0, .5);
}

.user-info {
  width: 300px;
  height: 270px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.route-stats .container {
  height: 75px;
}

.route-stats h3 {
  margin-top: 5px;
  margin-left: 70px;
}

.user-page .user-info {
  float: right;
}

.user-page .user-info button {
  float: right;
  margin-top: 20px;
  background: #aaaa55;
  color: #222211;
}

.user-page .user-info h4 {
  width: 200px;
}

.user-page .user-info h2 {
  width: 190px;
  float: left;
}

.feed-item {
  width: 750px;
  height: 250px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  // background-color: rgba(229, 229, 204, 1);
  background-color: rgba(238, 238, 221, 1);
  box-shadow: 5px 5px 3px black;
}

.feed-item:hover {
  border: 1px solid #33331a;
  background-color: rgba(221, 221, 187, 1);
}

#feed-item-info {
  width: 500px;
  float: left;
  margin: 24px;
  margin-right: 0px;
}

#feed-item-info .feed-user-info {
  float: left;
  width: 490px;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 10px;
}

#feed-item-info .feed-user-info #title {
  width: 350px;
  margin: 0px
}

#feed-item-info .feed-user-info h3 {
  float: right;
  margin: 0px;
  margin-right: 10px;
  padding: 4px;
}

#feed-item-info .feed-user-info .fa {
  font-size: 20px;
}

.feed-mini-map {
  float: right;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 24px;
  margin-right: 24px;
  overflow: hidden;
}

#feed-item-info #title {
  font-weight: bold;
  display: inline;
}

.feed-workout-details {
  float: left;
  width: 500px;
  height: 140px;
}

#workout-details-th {
  padding: 2px;
}

.feed-side-bar {
  float: right;
}
