.user-profile {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  height: 300px;
  font-family: cursive;
}

h1 {
  text-align: center;
  padding: 0px;
}

.edit-user-form {
  width: 110px;
  margin: auto;
}

.user-profile label {
  width: 100px;
  margin: auto;
  text-align: center;
}

.user-profile .btn-primary {
  margin-left: 0px;
}
