.user-profile {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(238, 238, 221, 1);
  border-radius: 10px;
  height: 300px;
  font-family: cursive;
  margin-top: 150px;
}

.user-profile h1 {
  padding-top: 15px;
  text-align: center;
}

.edit-user-form {
  width: 110px;
  margin: auto;
}

.user-profile label {
  width: 100px;
  margin: auto;
  text-align: center;
}

.user-profile .btn-primary {
  margin-left: 0px;
}

.user-profile button {
  border: 1px solid black;
  background: #aaaa55;
  color: #222211;
}

.user-profile button:hover {
  background: #222211;
  color: #ddddbb;
}
