.user-page {
  width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.user-workout-list {
  width: 800px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .5);
}
