.user-page {
  width: 1200px;
  margin: auto;
}

.user-workout-list {
  width: 800px;
  float: left;
  margin-left: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 10px;
  background: #fff;
  background-color: rgba(255, 255, 255, .7);
}

.workout-form {
  border: 1px solid #ccc;
  width: 750px;
  height: 250px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  background: #fff;
  background-color: rgba(255, 255, 255, 1);
}

.workout-list {
  border: 1px solid #ccc;
  width: 750px;
  height: 250px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  background: #fff;
  background-color: rgba(255, 255, 255, 1);
}
