.workout-form div {
  float: left;
}

.workout-form .form-group {
  float: left;
  margin: 0px;
  margin-left: 5px;
}

.workout-form .form-group {
  padding-bottom: 5px;
}

#route-title-drop-down {
  margin-left: 9px;
}

#route-title {
  margin-left: 30px;
  width: 144px;
}

#route-description {
  margin-left: 10px;
  width: 263px;
}

#workout-calories {
  width: 60px;
}

#workout-distance {
  width: 60px;
}

#workout-duration-hour {
  width: 32px;
}

#workout-duration-minute {
  width: 32px;
}

#workout-duration-second {
  width: 32px;
}

#workout-title {
  margin-left: 36px;
  width: 192px;
}

#workout-description {
  margin-left: 10px;
  width: 262px;
}

.workout-form label {
  padding-left: 9px;
}

.workout-form #time-form {
  padding-bottom: 0px;
}

.workout-form #duration {
  padding-left: 9px;
}

.workout-form button {
  background: #aaaa55;
  color: #222211;
  margin-left: 90px;
}
