.workout-form div {
  float: left;
}

.workout-form {
  font-family: 'Open Sans Condensed', sans-serif;
}

.workout-form .form-group {
  float: left;
  margin: 0px;
  margin-left: 5px;
}

.workout-form .form-group {
  padding-bottom: 5px;
}

.workout-form input {
  color: black;
}

.workout-form textarea {
  color: black;
}

#route-title-drop-down {
  margin-left: 17px;
  width: 167px;
}

#route-title {
  margin-left: 30px;
  width: 165px;
}

#route-description {
  margin-left: 10px;
  width: 263px;
}

#workout-calories {
  width: 60px;
}

#workout-distance {
  width: 60px;
}

#workout-duration-hour {
  width: 32px;
}

#workout-duration-minute {
  width: 32px;
}

#workout-duration-second {
  width: 32px;
}

#workout-title {
  margin-left: 38px;
  width: 197px;
}

#workout-description {
  margin-left: 10px;
  width: 262px;
}

.workout-form label {
  padding-left: 9px;
}

.workout-form #time-form {
  padding-bottom: 0px;
}

.workout-form #duration {
  padding-left: 9px;
  margin-right: 10px;
}

.workout-form button {
  background: #aaaa55;
  color: #222211;
  margin-left: 90px;
  margin-top: 20px;
}

#elevation-chart li {
  padding: 20px;
  font-size: 20px;
}
